body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blue;
}
.menu-de {
    background-color: #333;
}
.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu ul li {
    flex: 1;
}
.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 17px;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: #111;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #da2424;
    min-width: 160px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 0px 0px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.container {
    display: grid;
    place-items: center;
    height: 100vh;
    text-align: center;
}

.conteudo {
    max-width:600px;
    padding: 50px;
    background-color: #f4f4f4;
    border: 6px solid #a30a0a;
    text-align: center;
}
.form-container {
    text-align: center;
    padding: 5px;
    border: 3px solid #000;
    border-radius: 8px;
    background-color: #589fd9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.form-container label,
.form-container input[type="submit"] {
    display: block;
    margin: 15px 0;
    color: #333;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

.button, input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.button:hover, input[type="submit"]:hover {
    background-color: #0056b3;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.titulos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
@media (max-width: 600px) {
    .menu ul {
        flex-direction: column;
    }

    .container {
        padding: 20px;
    }
}
.menu {
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 10; 
}
.container {
    display: grid;
    place-items: center;
    height: 100vh;
    text-align: center;
    padding-top: 60px;
}
.grid-center {
    display: grid;
    place-items: center; 
    height: 10px; 
    background-color:0;
    font-family: Arial, sans-serif;
    text-align: center;
}
.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.product-card {
    width: 250px;
    border: 2px solid #333;
    border-radius: 8px;
    background-color: #f4f4f4;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.product-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}


.product-card h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 14px;
    color: #666;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.product-card {
    text-align: center;
    width: 150px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
}

.product-card h1 {
    font-size: 18px;
    color: #333;
}

footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; }

.menu-header img {
    width: 100px;
    height: auto;
}

.menu-header h1 {
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
    color: #eae6e6;
}
 .menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; }

.menu-header img {
    width: 100px;
    height: auto;
}

.menu-header h1 {
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
    color: #eae6e6;
}
     .especializacao {
        background-color: #f8f8f8;
        padding: 30px;
        text-align: center;
        margin: 20px auto;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .especializacao h2 {
        font-size: 2em;
        color: #333;
        margin-bottom: 15px;
    }


    a:hover {
        color: #ccc; 
        text-decoration: underline;
    }
    .social-maps-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #f8f8f8;
        border-radius: 8px;
        margin: 20px auto;
        max-width: 1000px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
    .social-media ul {
        list-style: none;
        padding: 0;
    }
    .social-media li {
        display: inline;
        margin: 0 10px;
    }
    .maps-container iframe {
        border: 0;
        width: 400px;
        height: 300px;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
    a {
        text-decoration: none;
        color: black; 
    }
    a:hover {
        color: gray; 
        text-decoration: underline; }
    .especializacao p {
        font-size: 1.2em;
        color: #666;
        line-height: 1.5;
        margin: 0 auto;
        max-width: 600px;
    }
    a {
        text-decoration: none; 
        color: white; 
    }
    a {
        text-decoration: none;
        color: black; 
    }
    .social-media ul {
        list-style: none;
        padding: 0;
    }
    .social-media li {
        display: inline;
        margin: 0 10px;
    }
    .maps-container iframe {
        border: 0;
        width: 400px;
        height: 300px;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
   
    a:hover {
        color: gray; 
        text-decoration: underline; 
    }
        .social-maps-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #f8f8f8;
        border-radius: 8px;
        margin: 20px auto;
        max-width: 1000px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .menu-header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
            .menu-header img {
                width: 95px;
                height: auto;
            }
    
            .menu-header h1 {
                margin: 0;
                font-size: 1.8em;
                font-weight: bold;
                color: #ffffff;
            }
    
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                background-color: #3917c2;
                color: #333;
            }
    
            .container {
                max-width: 1200px;
                margin: 40px auto;
                padding: 20px;
                background: #fff;
                border-radius: 10px;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            }
    
            .services-grid {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                gap: 20px;
                margin-top: 20px;
            }
            footer {
        background-color: #3917c2;
        color: white;
        text-align: center;
        padding:10px 0;
        position: fixed; /* Mantém o rodapé fixo na parte inferior */
        bottom: 0;
        width: 100%; /* Ocupa toda a largura */
        z-index: 1000; /* Garante que fique sobre outros elementos */
        height: 50px; /* Define uma altura fixa para o rodapé */
    }
    
    .container {
        max-width: 1200px;
        margin: 40px auto;
        padding: 20px;
        padding-top: 20px; /* Espaço para o menu */
        padding-bottom: 75px; /* Espaço extra para evitar que o rodapé sobreponha o conteúdo */
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    
    
    
            .service-card {
                background-color: #3917c2;
                color: #fff;
                padding: 20px;
                text-align: center;
                border-radius: 10px;
                transition: transform 0.3s, box-shadow 0.3s;
                cursor: pointer;
            }
    
            .service-card:hover {
                transform: scale(1.05);
                box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
            }
    
            .service-card h2 {
                margin: 10px 0;
                font-size: 1.5em;
            }
    
            .service-card p {
                font-size: 1em;
                line-height: 1.4;
            }
    
            footer {
                text-align: center;
                padding: 10px 0;
                background-color: #3917c2;
                color: #fff;
                margin-top: 40px;
            }
img{
    width: 70px;
    height: auto;
}
           
